version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: rehab_db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1488
      POSTGRES_DB: reability
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rehab_app
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      DATABASE_URL: postgresql://postgres:1488@db:5432/reability
    depends_on:
      db:
        condition: service_healthy
    command: sh -c "npx prisma migrate deploy && node src/server.js"

volumes:
  postgres_data:
